<head>
  <meta name="referrer" content="origin">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
</head>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact Us</h2>
        <h3 class="section-subheading text-realmuted">For any general or sponsorship inquiries.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form class="sentMessage" id="my-form" method="POST" action="https://formspree.io/f/mqkolkkw" novalidate> 
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <input type="text" class="form-control" placeholder="Your Name *" id="name" name="name" data-validation-required-message="Please enter your name." required>
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email" data-validation-required-message="Please enter your email address." required>
                <p class="help-block text-danger"></p>
              </div>
<!--               <div class="control-group form-group">
                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" name="phone" data-validation-required-message="Please enter your phone number." required>
                <p class="help-block text-danger"></p>
              </div> -->
            </div>
            <div class="col-md-6">
              <div class="control-group form-group">
                <textarea class="form-control" placeholder="Your Message *" id="message" name="message" data-validation-required-message="Please enter a message." required></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <input type="hidden" name="_next" value="/">
              <button type="submit" class="prereg">Send Message</button>
            </div>
          </div>
        </form> 
      </div>
    </div>
  </div>
</section>
