<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
            <div class="question">
                <button>
                    <span>Who can participate?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>Any high school and middle school student can participate, no prior programming experience needed. If you've graduated from high school, you cannot participate, but feel free to sign up as a mentor or help volunteer on the day.</p>
            </div>
    
            <div class="question">
                <button>
                    <span>When and where is this Hackathon?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>MateoHacks will be hosted at San Mateo High School on March 23, 2024. It will begin at around 8:00AM and end at around 9:00PM. We will release specific details closer to the event date.</p>
            </div>
    
            <div class="question">
                <button>
                    <span>Does this event cost money?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>No! Thanks to all of our generous sponsors, MateoHacks is free for all participants. All food, swag, and other costs will be covered. If you are interested in helping sponsor this and future events, feel free to look at the sponsor FAQ section.</p>
            </div>
                
            <div class="question">
                <button>
                    <span>How many people can be on a team?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>You may have a team size of 1 - 4 people. Even if you register without a team, you can team up with others at the event!</p>
            </div>
    
            <div class="question">
                <button>
                    <span>What should I bring?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>Please bring your student ID, laptop, chargers, and a good attitude. Power strips and toiletries are highly recommended but not required. We cannot guarantee that we will be able to supply you with anything specific at a moment’s notice, so please come prepared.</p>
            </div>
            <div class="question">
                <button>
                    <span>What if I have dietary restrictions?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>No problem! If you have dietary restrictions, simply add them to your application when you sign up, and we will accommodate you! Additionally, each meal may have vegan, gluten free, and vegetarian options for everyone.</p>
            </div>
            <div class="question">
                <button>
                    <span>Will there be prizes?</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>Yes! We will have various prizes such as headphones, keyboards, monitors, mouses etc. Even if you don't win, all participants will recieve LinkedIn Premium and many other company sponsored perks.</p>
            </div>
            <div class="question">
                <button>
                    <span>I have more questions…</span>
                    <i class="fas fa-chevron-down d-arrow"></i>
                </button>
                <p>Feel free to email us at mateohack25@gmail.com or fill out the contact form.</p>
            </div>
                <script src="js/faq.js"></script>
        </div>
    </div>
</section> 
