  <footer>
    <script src="https://kit.fontawesome.com/d91d743244.js" crossorigin="anonymous"></script>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-inline quicklinks"></ul>
                    <span >{{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <span >Fiscally sponsored by </span><a href="https://the.hackfoundation.org/" target="_blank" class="footer" >The Hack Foundation.</a> <span> EIN: 81-2908499</span>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a aria-hidden="true" href="https://discord.gg/gf29ttUz28" target="_blank"<i class="fa-brands fa-discord fa-2xl"></i></a>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </footer>


