
 <!-- Team Section -->
  <!-- <section id="guests" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Guests</h2>
                    <h3 class="section-subheading text-muted">Meet our amazing guest speakers and judges, whose contributions make this event possible!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/Mehul.jpg" class="img-responsive img-circle" alt="">
                        <h4>Ryan Roslansky</h4>
                        <p class="text-muted">CEO of LinkedIn</p>
                         <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> 
                   </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/blank.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sanjay Muhkyala</h4>
                        <p class="text-muted">Organizer</p>
                         <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> 
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/blank.jpg" class="img-responsive img-circle" alt="">
                        <h4>Aaron Guo</h4>
                        <p class="text-muted">Organizer</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul> 
                    </div>
                </div>
            </div> -->
<!--             <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
        </div>
    </section>  
