<!-- Information Section -->
    <section id="information">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
<!--                     <h2 class="section-heading">What is MateoHacks?</h2>
                    <h3 class="section-subheading text-muted">MateoHacks is a 12 Hour  <strong> in person </strong> high school hackathon for building projects, making new connections, and having fun!</h3> -->
                    <h2 class="section-heading">full day in-person high school hackathon</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Prizes</h4>
                    <p class="info-muted">There will be plenty of prizes for you and your team to compete for with many categories for you to express your creativity!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect</h4>
                    <p class="info-muted">No coding experience is required and you can meet people with similar interests or make new friends while hacking!</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Learn</h4>
                    <p class="info-muted">Our hackathon will shine on your innovation skills, providing you with a unique experience that you can learn tons from.</p>
                </div>
            </div>
        </div>
    </section>