<!-- Information Section -->
<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <h3 class="section-subheading text-muted">Please email <a href="mailto:mateohacks25@gmail.com" class="footer">mateohacks25@gmail.com </a> if you have any questions about our schedule. Our team will contact you shortly to answer any inqueries you have.</h3>
            </div>
            <img src="/img/MateoHacks Schedule Poster.png" alt="MateoHacks Schedule">
        </div>
    </div>
</section>