<!-- Services Section -->
    <section id="sponsorFAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How can I sponsor?</h2>
                    <h3 class="section-subheading text-muted">Please email <a href="mailto:mateohacks25@gmail.com" class="footer">mateohacks25@gmail.com </a> to express your interest in sponsoring our hackathon. Our team will contact you to discuss specific details, answer any additional questions you may have, and provide more information about available sponsorship opportunities. </h3>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-signal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Can we offer company-related services?</h4>
                    <p class="text-muted">Absolutely! Offering memberships or access to your company’s products or services can be a great way to incentivize participants and build relationships with potential customers. This can take the form of a free year of a premium service or a lifetime membership, for example.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Can we participate as speakers during the event?</h4>
                    <p class="text-muted">Yes, we welcome companies to participate in hackathons as speakers and judges. As a sponsor, you can provide insights into your industry, showcase your products and services, and help to guide participants towards developing solutions that align with your company’s values and goals.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Do we need to provide prizes for the hackathon?</h4>
                    <p class="text-muted">Providing prizes is a great way to incentivize participants to compete and to showcase your company’s support for innovation. Prizes can include anything from cash awards to product or service packages. If this is not possible for your group, we would greatly appreciate donations of any amount.
                    </p>
                </div>
                
            </div> 

<!--             <div style = "justify-content: center;">
                <br>
                <!-- <h2 class="section-heading" style="text-align: center;">Sponsorship Prospectus</h2> 
                <embed src="../MateoHacksProspectus.pdf" width="100%" height="600" type="application/pdf">
            </div>  -->

        </div>
    </section>

    <style>
        .sponsor-img {
            margin: 40px; /* Adjust the value as needed for your desired spacing */
            max-width: 100%; /* Make sure the image doesn't exceed its natural size */
            width: 33%; /* Take up the full width of the container */
            height: auto; /* Maintain aspect ratio */
        }
    
        @media (min-width: 768px) {
            /* Adjust the size for smaller screens */
            .sponsor-img {
                max-width: 400px;
            }
        }
    
        @media (min-width: 480px) {
            /* Adjust the size for even smaller screens */
            .sponsor-img {
                max-width: 200px;
            }
        }
    </style>
    
<section id="sponsor">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Sponsors</h2>
            </div>

            <div class="col-lg-12 text-center">
                <a href="https://www.quadeducationgroup.com/" target="_blank" >
                    <img src="/img/logos/quad.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://gen.xyz/" target="_blank">
                    <img src="/img/logos/xyz-logo-color.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://artofproblemsolving.com/" target="_blank">
                    <img src="/img/logos/AoPS_Main_Logo.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.echo3d.com/" target="_blank" >
                    <img src="/img/logos/echo3d.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.axure.com/" target="_blank">
                    <img src="/img/logos/Axure_logo_400.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.buildon.org/" target="_blank" >
                    <img src="/img/logos/buildOn.jpg" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://devtranet.tech/" target="_blank" >
                    <img src="/img/logos/devtranet_logo.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.desmos.com/" target="_blank">
                    <img src="/img/logos/DesmosLogo-Black.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.interviewcake.com/" target="_blank">
                    <img src="/img/logos/cake_logo_blue_gray.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.launchx.com/" target="_blank" >
                    <img src="/img/logos/launchxlogo.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.wolframalpha.com//" target="_blank">
                    <img src="/img/logos/wolfram-corporate-logo-horz-lg.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://jausa.ja.org/" target="_blank">
                    <img src="/img/logos/JA_Northern California_HZ_Full Color.jpg" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://www.algoversecodingacademy.com/" target="_blank">
                    <img src="/img/logos/algoverse.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://devfolio.co/discover" target="_blank">
                    <img src="/img/logos/Devfolio.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://ethindia.co/" target="_blank">
                    <img src="/img/logos/ethindia-dark.png" alt="Clickable image description" class="sponsor-img">
                </a>
                <a href="https://polygon.technology/" target="_blank">
                    <img src="/img/logos/Primary_Logo.png" alt="Clickable image description" class="sponsor-img">
                </a>
            </div>


        </div>
    </div>
</section>